<div class="portlet box blue-hoki">
<div class="portlet-title">
<div class="caption">
<i class="fa fa-gift"></i>Candidate Form
</div>

</div>
<div class="portlet-body form">

  <form id="form_sample_3" class="form-horizontal" role="form" name="myForm" novalidate>
    
    <div class="form-body">
      <div class="form-group">
        <label class="col-md-3 control-label">Username</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="username" ng-model="username"  placeholder="Username">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">First Name</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="firstname" ng-model="firstname" placeholder="First Name">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Last Name</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="lastname" ng-model="lastname" placeholder="Last Name">

        </div>
      </div>



      <div class="form-group">
        <label class="col-md-3 control-label">Email</label>
        <div class="col-md-4">
          <input type="email" class="form-control" name="email" ng-model="email" placeholder="Email">

        </div>
      </div>


      <div class="form-group">
        <label class="col-md-3 control-label">Phone</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="phone" ng-model="phone" placeholder="Phone">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Age</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="age" ng-model="age" placeholder="Age">

        </div>
      </div>
      

     <div class="form-group">
        <label class="col-md-3 control-label">Date</label>
        <div class="col-md-4">
          <input type="date" class="form-control" name="date" ng-model="date">

        </div>
      </div>


      <div class="form-group">
        <label class="col-md-3 control-label">Address</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="address" ng-model="address" placeholder="Address">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">City</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="city" ng-model="city" placeholder="City">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">State</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="state" ng-model="state" placeholder="State">

        </div>
      </div>


      <div class="form-group">
        <label class="col-md-3 control-label">Country</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="country" ng-model="country" placeholder="Country">

        </div>
      </div>
      
      <div class="form-group">
        <label class="col-md-3 control-label">Experience</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="experience" ng-model="experience" placeholder="Experience">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Qualification</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="qualification" ng-model="qualification" placeholder="Qualification">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Business</label>
        <div class="col-md-4">
          <input type="text" class="form-control" name="business" ng-model="business"   placeholder="Business">

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3 control-label">Gender</label>
        <div class="col-md-4">
          <input type="radio"  name="gender" ng-model="gender" value="male">M
          <input type="radio"  name="gender" ng-model="gender" value="female">F

        </div>
      </div>
        
    </div> 

    <div class="row form-actions">
      <div class="col-md-offset-3 col-md-9">
        <input type="submit" class="btn btn-success btn green" value="Submit" ng-click="addcandidate()">
        
      </div>
    </div>
  </form>
  
</div>
</div>                  
