

<div class="job-profile">
      <div class="row">           
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
             <div class="panel panel-info">
                  <div class="panel-heading">
                  <h3 class="panel-title">Job Application Form</h3>
                  </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="portlet-body form " id="new_attr" >
                         <form method="post"  id="formid" class="form-horizontal" ng-bind-html="jobview">
                         <br><br>
                         
                         </form>
                         </div> 
                      </div>
                    </div>
              </div>
          </div>
     </div>
</div>
<a href="#/joblist">Back</a></div>



  <style type="text/css">
    .panel-info > .panel-heading {
    background-color: #678095;
    border-color: #bce8f1;
    color: #fff;
}
#new_attr .delformrow {
    display: none;
}
#new_attr .step-heading {
    display: none;
}
.panel.panel-info {
    display: block !important;
    margin-left: -114px;
    margin-right: auto !important;
    padding-bottom: 84px;
    width: 1001px !important;
}
.col-lg-offset-3 {
    margin-left: 10%;
}
.panel-footer {
    display: none;
}
.col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xs-offset-0.col-sm-offset-0.col-md-offset-3.col-lg-offset-3.toppad {
    width: 80%;
}
.back {
    text-align: right;
}

.col-lg-9 {
    padding-top: 34px;
    width: 100%;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
  </style>