
<div class="row">
<div class="col-md-12 ">
          <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box green ">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-gift"></i> Add Page Catagory
              </div>
             
            </div>
            <div class="portlet-body form">

              <form class="form-horizontal ng-pristine ng-valid" role="form">
                <div class="form-body">


                  <div class="form-group">
                    <label class="col-md-3 control-label">Title</label>
                    <div class="col-md-9">
                      <input type="text" name="parentTitle" placeholder="Add parent page title" ng-model="parentTitle" class="form-control ng-pristine ng-untouched ng-valid">
                      
                    </div>
                  </div>
 
                  <div class="form-group">
                    <label class="col-md-3 control-label">Logo</label>
                    <div class="col-md-9">
                      <input type="file" name="file" file-model="file" class="form-control ng-pristine ng-untouched ng-valid">
                      
                    </div>
                  </div>
              
                 
              </div>

                <div class="form-actions fluid">
                  <div class="col-md-offset-3 col-md-9">
                    <input type="submit" ng-click="addParent()" value="submit" class="btn green">
                    <a href="#/childlist">Skip</a> 
                  </div>
                </div>

              </form>
            </div>
          </div>
         
       </div>
       </div>
       


       <style type="text/css">
         .col-md-12 {
    margin-top: 80px;
   
}
       </style>