<div class="row">
<div class="col-md-12 ">
          <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet box green ">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-gift"></i> Reset Your Password
              </div>
             
            </div>
            <div class="portlet-body form">

              <form role="form" class="form-horizontal">
                <div class="form-body">

                  <div class="form-group">
                    <label class="col-md-3 control-label">Email-Address</label>
                    <div class="col-md-9">
                      <input type="email" class="form-control" ng-model="email" name="email" placeholder="Enter registered email-address">
                      
                    </div>
                  </div> 

              </div>

                <div class="form-actions fluid">
                  <div class="col-md-offset-3 col-md-9">
                    <input type="submit" class="btn green" value="submit" ng-click="send()">
                    <!-- <a class="btn default" href="#/companylist">Cancel</a> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
         
       </div>
    </div>
