<h1>Location admin</h1>
<hr>
<div class="container" style="width:100%;">
   <div id="blog" class="row" style="width:100%;">              
                 <div class="col-md-10 fluid" style="float:left; width:30%;">           
                     <h1>{{admindp.username}}</h1>
                     <img src="/admin/{{admindp.file}}" alt="post img" style="width:235px; height:235px;" class="pull-left img-responsive thumb margin10 img-thumbnail">                             
                 </div>
                  <div class="col-md-10 fluid1" style=" width:30%;">                
                     <p style="margin-top:30%;"><b>Email:</b>{{admindp.email}}</p>
                     <p><b>Address:</b>{{admindp.address}}</p>
                     <p><b>Location:</b>{{admindp.location}}</p>
                 </div>
                 <div class="col-md-10 fluid1" style=" width:100%;">         
                     <p style="margin-top:5%;"><b>Description:</b>{{admindp.description}}</p>                
                 </div>            
     </div>
</div>
