<div class="slider">
<div class="row">
<div class="col-lg-12 banner">
    <div class="offsetspan6">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">          
          <img class="image-circle" ng-src="{{slide.image}}" style="margin:auto;" />
               <div class="carousel-caption">
               <div class="row">
                      <div class="col-lg-5">
                          <div class="banner-text">
                            <h3 style="font-size:38px;">{{slide.header}}</h3>
                            <p>{{slide.p}}</p>
                          </div>
                      </div>

                      <div class="col-lg-7">
                          <div class="banner-img">
                          <img class="image-circle" ng-src="{{slide.text}}"/>
                          </div>
                      </div>
                </div>   
          
               </div>
          
           </slide>
        </carousel>
      </div>
 </div>
</div>
</div>
 
<div class="main">
      <div class="container">
        <!-- BEGIN SERVICE BOX -->   
        <div class="row service-box margin-bottom-40">
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-location-arrow blue"></i></em>
              <span>Multipurpose Template</span>
            </div>
            <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-check red"></i></em>
              <span>Well Documented</span>
            </div>
            <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-compress green"></i></em>
              <span>Responsive Design</span>
            </div>
            <p>Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris. Sed unde omnis iste natus error sit voluptatem.</p>
          </div>
        </div>
        <!-- END SERVICE BOX -->

        <!-- BEGIN BLOCKQUOTE BLOCK -->   
        <div class="row quote-v1 margin-bottom-30">
        <form name=myForm novalidate="">
          <div class="col-md-9">
            <div class="row">
            <div class="col-md-6">
            <input type="text" placeholder="Job Catagories" class="form-control" name="catagories" ng-model="catagories">
            </div>
            <div class="col-md-6">
            <input type="text" placeholder="Location" name="location" class="form-control" ng-model="location">
            </div>
            </div>
          </div>
          <div class="col-md-3 text-right">
            <a target="_blank" href="" ng-click="jobLocation()" class="btn-transparent"><big>Find Your Job</big></a>
          </div>
          </form>
        </div>
        <!-- END BLOCKQUOTE BLOCK -->

        
        

        <!-- BEGIN TABS AND TESTIMONIALS -->
        <div class="row mix-block margin-bottom-40">
          <!-- TABS -->
          <div class="col-md-7 tab-style-1">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#tab-1">Multipurpose</a></li>
              <li><a data-toggle="tab" href="#tab-2">Documented</a></li>
              <li><a data-toggle="tab" href="#tab-3">Responsive</a></li>
              <li><a data-toggle="tab" href="#tab-4">Clean &amp; Fresh</a></li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane row fade in active">
                <div class="col-md-3 col-sm-3">
                  <a data-rel="fancybox-button" title="Image Title" class="fancybox-button" href="assets/temp/photos/img7.jpg">
                    <img alt="" src="../../assets/frontend/pages/img/photos/img7.jpg" class="img-responsive">
                  </a>
                </div>
                <div class="col-md-9 col-sm-9">
                  <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
                  <p><a href="javascript:;" class="more">Read more <i class="icon-angle-right"></i></a></p>
                </div>
              </div>
              <div id="tab-2" class="tab-pane row fade">
                <div class="col-md-9 col-sm-9">
                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
                </div>
                <div class="col-md-3 col-sm-3">
                  <a data-rel="fancybox-button" title="Image Title" class="fancybox-button" href="assets/temp/photos/img10.jpg">
                    <img alt="" src="../../assets/frontend/pages/img/photos/img10.jpg" class="img-responsive">
                  </a>
                </div>
              </div>
              <div id="tab-3" class="tab-pane fade">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
              </div>
              <div id="tab-4" class="tab-pane fade">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
              </div>
            </div>
          </div>
          <!-- END TABS -->
        
          <!-- TESTIMONIALS -->
          <div class="col-md-5 testimonials-v1">
            <div class="carousel slide" id="myCarousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
                  <div class="carousel-info">
                    <img alt="" src="../../assets/frontend/pages/img/people/img1-small.jpg" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">Lina Mars</span>
                      <span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <blockquote><p>Raw denim you Mustache cliche tempor, williamsburg carles vegan helvetica probably haven't heard of them jean shorts austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p></blockquote>
                  <div class="carousel-info">
                    <img alt="" src="../../assets/frontend/pages/img/people/img5-small.jpg" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">Kate Ford</span>
                      <span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <blockquote><p>Reprehenderit butcher stache cliche tempor, williamsburg carles vegan helvetica.retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p></blockquote>
                  <div class="carousel-info">
                    <img alt="" src="../../assets/frontend/pages/img/people/img2-small.jpg" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">Jake Witson</span>
                      <span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Carousel nav -->
              <a data-slide="prev" href="#myCarousel" class="left-btn"></a>
              <a data-slide="next" href="#myCarousel" class="right-btn"></a>
            </div>
          </div>
          <!-- END TESTIMONIALS -->
        </div>                
        <!-- END TABS AND TESTIMONIALS -->

        <!-- BEGIN STEPS -->
        <div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3">
          <div class="col-md-4 col-sm-4 front-step-col">
            <div class="front-step front-step1">
              <h2>Goal definition</h2>
              <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 front-step-col">
            <div class="front-step front-step2">
              <h2>Analyse</h2>
              <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 front-step-col">
            <div class="front-step front-step3">
              <h2>Implementation</h2>
              <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
            </div>
          </div>
        </div>
        <!-- END STEPS -->

        <!-- BEGIN CLIENTS -->
        <div class="row margin-bottom-40 our-clients">
          <div class="col-md-3">
            <h2><a href="javascript:;">Our Clients</a></h2>
            <p>Lorem dipsum folor margade sitede lametep eiusmod psumquis dolore.</p>
          </div>
          <div class="col-md-9">
            <div class="owl-carousel owl-carousel6-brands owl-theme" style="opacity: 1; display: block;">
              <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2256px; left: 0px; display: block;"><div class="owl-item active" style="width: 141px;"><div class="client-item">
                <a href="javascript:;">
                  <img alt="" class="img-responsive" src="../../assets/frontend/pages/img/clients/client_1_gray.png">
                  <img alt="" class="color-img img-responsive" src="../../assets/frontend/pages/img/clients/client_1.png">
                </a>
              </div></div><div class="owl-item active" style="width: 141px;"><div class="client-item">
                <a href="javascript:;">
                  <img alt="" class="img-responsive" src="../../assets/frontend/pages/img/clients/client_2_gray.png">
                  <img alt="" class="color-img img-responsive" src="../../assets/frontend/pages/img/clients/client_2.png">
                </a>
              </div></div><div class="owl-item active" style="width: 141px;"><div class="client-item">
                <a href="javascript:;">
                  <img alt="" class="img-responsive" src="../../assets/frontend/pages/img/clients/client_3_gray.png">
                  <img alt="" class="color-img img-responsive" src="../../assets/frontend/pages/img/clients/client_3.png">
                </a>
              </div></div><div class="owl-item active" style="width: 141px;"><div class="client-item">
                <a href="javascript:;">
                  <img alt="" class="img-responsive" src="../../assets/frontend/pages/img/clients/client_4_gray.png">
                  <img alt="" class="color-img img-responsive" src="../../assets/frontend/pages/img/clients/client_4.png">
                </a>
              </div></div><div class="owl-item active" style="width: 141px;"><div class="client-item">
                <a href="javascript:;">
                  <img alt="" class="img-responsive" src="../../assets/frontend/pages/img/clients/client_5_gray.png">
                  <img alt="" class="color-img img-responsive" src="../../assets/frontend/pages/img/clients/client_5.png">
                </a>
              </div></div><div class="owl-item active" style="width: 141px;"><div class="client-item">
                <a href="javascript:;">
                  <img alt="" class="img-responsive" src="../../assets/frontend/pages/img/clients/client_6_gray.png">
                  <img alt="" class="color-img img-responsive" src="../../assets/frontend/pages/img/clients/client_6.png">
                </a>
              </div></div><div class="owl-item" style="width: 141px;"><div class="client-item">
                <a href="javascript:;">
                  <img alt="" class="img-responsive" src="../../assets/frontend/pages/img/clients/client_7_gray.png">
                  <img alt="" class="color-img img-responsive" src="../../assets/frontend/pages/img/clients/client_7.png">
                </a>
              </div></div><div class="owl-item" style="width: 141px;"><div class="client-item">
                <a href="javascript:;">
                  <img alt="" class="img-responsive" src="../../assets/frontend/pages/img/clients/client_8_gray.png">
                  <img alt="" class="color-img img-responsive" src="../../assets/frontend/pages/img/clients/client_8.png">
                </a>
              </div></div></div></div>
              
              
              
              
              
              
                                
            <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev">prev</div><div class="owl-next">next</div></div></div></div>
          </div>          
        </div>
        <!-- END CLIENTS -->
      </div>
    </div>





















  <style type="text/css">
    .carousel-indicators {
    bottom: 20px;
    margin-left: 471px;
}
.offsetspan6 {
  margin-bottom: 12px;
}
.carousel-indicators {
    bottom: 20px;
    display: inline-block;
    float: none;
    left: 0;
    margin-left: 0;
    text-align: center;
    width: 100%;
}
.carousel-control.left, .carousel-control.right 
 {
    background-image: none;
    top: 37%;
    font-size: 40px;
  }
  .carousel-caption{

     width:auto;
     height: auto;
  }
  .banner-text{
    float:left; 
    margin-right:20px;
  }
  .banner-img{
   
  float:right; 
  width:360px; 
  height:290px;
}
input.form-control, textarea.form-control {
    border-color: #dbdbdb;
    border-radius: 0;
    box-shadow: none;
    color: #777;
    font: 20px Arial,sans-serif;
}
input.form-control, textarea.form-control {
    border-color: #dbdbdb;
    border-radius: 0;
    box-shadow: none;
    color: #777;
    font: 20px Arial,sans-serif;
    margin-top: 14px;
}
  </style>





















<!-- 

  <div class="slider">
<div class="row">
<div class="col-lg-12 banner">
    <div class="offsetspan6">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          
          <img class="image-circle" ng-src="{{slide.image}}" style="margin:auto;" />
          <div class="carousel-caption">
          <div class="container">
          <div class="row" style="border: 1px solid black;">
            <div class="col-lg-4" style="border: 1px solid black;">
                <div class="banner-text">
                <h3 style="font-size:38px;">{{slide.header}}</h3>
                <p>{{slide.p}}</p>
                </div>
            </div>

            <div class="col-lg-8" style="border: 1px solid; black">
                <div class="banner-img"  style="border: 1px solid; width:350px; height:350px;">
                <img class="image-circle" ng-src="{{slide.text}}" style="margin:auto;" />
                </div>
            </div>                     
          </div>
          </div>
          
           
          </div>
        </slide>
      </carousel>
    </div>
  </div>

  </div>
  </div>

  <style type="text/css">
    .carousel-indicators {
    bottom: 20px;
    margin-left: 471px;
}
.offsetspan6 {
  margin-bottom: 12px;
}
.carousel-indicators {
    bottom: 20px;
    display: inline-block;
    float: none;
    left: 0;
    margin-left: 0;
    text-align: center;
    width: 100%;
}
.carousel-control.left, .carousel-control.right 
 {
    background-image: none;
    top: 37%;
    font-size: 40px;
  }
  .banner-img{
    text-align: right;
    margin-left: 250px;
  }
  .banner-text{
     text-align: left;
     margin-left: -160px;
}

  </style> -->