<div class="main">
      <div class="container">
        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="javascript:;">Pages</a></li>
            <li class="active">Login</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
              <li class="list-group-item clearfix"><a href="javascript:;"> </a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"> </a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"> </a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"> </a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"> </a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"> </a></li>
              <li class="list-group-item clearfix"><a href="javascript:;"> </a></li>
            </ul>
          </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-9">
            <h1>Login</h1>
            <div class="content-form-page">
              <div class="row">
                <div class="col-md-7 col-sm-7">
                  <form class="form-horizontal form-without-legend" role="form" name="myForm" novalidate="">
                    <div class="form-group">
                      <label for="email" class="col-md-3 control-label">Username <span class="require">*</span></label>
                      <div class="col-md-9">
                        <input type="text" class="form-control" id="username" ng-model="username" ng-require="true">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password" class="col-md-3 control-label">Password <span class="require">*</span></label>
                      <div class="col-md-9">
                        <input type="password" class="form-control" id="password" ng-model="password" ng-require="true">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0">
                        <a href="#/forget">Forget Password?</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-10 col-md-offset-4 padding-left-0">
                       <span style="color:lightblue;">If don't have an account register first!</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8 col-md-offset-4 padding-left-0 padding-top-20">
                        <input type="submit" value="Login" class="btn btn-primary"   ng-click="login()">
                      </div>
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>